
.containerResult {
    height: 100vh;
    background: #EEF1F6;
}
.title_1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    justify-content: center;
    font-size: 50px;
    line-height: 75px;
    display: flex;
    color: #606060;
    padding: 55px;
}


.bravo { 
    width: 336px;
    height: 277px;
    text-align: center;
    margin: 0% 7% 0%;
    background: #FFFFFF;
}

.title_bravo { 
    font-family: 'Poppins';
    font-style: normal;
    padding: 18px 0px;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    display: flex;
    justify-content: center;
    color: #606060;
    align-items: center;
    text-align: center;
}
.paragraphe { 
    text-align: center;
    padding: 8px;
    background: #FFFFFF;
}
.kiloCo2, .point { 
    color: #58C094;
    font-weight: bold;
}
.Win p { 
    margin: 33px !important;
}

.progressBarContainer {
    margin: 10px;
    height: 2%;
    width: 70%;
    background-color: white;
}

.progressBar {
    width: 60%;
    height: 20px;
    background-color: #58C094;
}

.divpalier {
    display: flex;
    justify-content: space-around !important;  
}
.divpalier p {
    margin: auto;
}
.auto { 
    margin: 110px 0px;
}
.counter { 
    display: flex;
    justify-content: center;
}

.button_ok {
    margin: auto 39%;
    font-family: 'Poppins';
    width: 105px;
    padding: 17px;
    background-color: white;
    border-radius: 15px;
    font-size: 20px;
    line-height: 15px;
    text-align: center;
    color: black;

}
