.slideContainer {
  z-index: 5000;
  display: flex;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 55vh;
  right: 0vh;
  flex-direction: column;
  background-color: var(--color-bg-variant);
}

.topSlide {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 20px;
  background-color: var(--color-scroll);
  border-radius: 50px;
  margin: 20px 0px 20px 0px;
}

.chooseContainer {
  margin: 0px 30px 0px 30px;
}

.chooseContainer .inputContainer p {
  font-size: 20px;
  color: white;
}

.inp1,
.inp2 {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 60px;
  margin: 10px 0px 10px 0px;
  border-radius: 10px;
  background-color: white;
  padding-left: 5px;
  font-size: 17px;
  font-weight: 500;
}

.carContainer,
.walkContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  margin: 10px 0px 10px 0px;
  padding: 0px 30px 0px 7px;
  background-color: white;
  border-radius: 10px;
}

.slideContainer button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 50px;
  border-radius: 50px;
  background-color: white;
  font-size: 20px;
  font-weight: 600;
  margin: 40px 0px 40px 0px;
  cursor: pointer;
}

.logo1 {
  height: 30px;
}

.logo2 {
  height: 40px;
  width: 30px;
  margin-left: 15px;
}
