@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-bg: #eef1f6;
  --color-bg-variant: #58c094;
  --color-white: #ffffff;
  --color-scroll: #33785b;
  height: 100vh;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #606060;
  line-height: 1.7;
}

.leaflet-container {
  width: 100vw;
  height: 85vh;
}
